<body>
    <h1> 
        <b>Contact Information</b>
             </h1>
    <table id="contact"> 
        <tr>
            <td> Email:
            </td>
            <td> 
            s524702@nwmissouri.edu</td>
                <td>
         priyanka.khanal.14@gmail.com
        </td>
        </tr>
        <tr>
            <td> Github Account: 
            </td>
            <td> 
                <a href="https://github.com/priyanka-khanal"> https://github.com/priyanka-khanal </td> </a>
        </tr>
        <tr> 
            <td>
                Bitbucket Account: 
            </td>
            <td> 
                <a href="https://bitbucket.org/priyankakhanal/">https://bitbucket.org/priyankakhanal/</a>
            </td>
        </tr>
        <tr>
            <td>
                LinkedIn: 
            </td>
            <td>
                <a href ="https://www.linkedin.com/in/priyanka-khanal-842709121/">https://www.linkedin.com/in/priyanka-khanal-842709121/</a>
            </td>
        </tr>
    </table>
              <h2>
                  <u>Leave me a message </u>
                  </h2>
              <div class="row">
                <form method="get">
                    <table>
                        <tr>
                            <td>
                                First name: <input type="text" name="fname" required><br>
                                <div class="alert alert-danger  fade in" id="alertname">
                                    <a href="#" class="close " id="alertnamedismiss" class="close">×</a>
                                    <strong>Field cannot be empty</strong>
                                  </div>
                                Last name:  <input type="text" name="lname" required><br>
                                <div class="alert alert-danger  fade in" id="alertname">
                                    <a href="#" class="close " id="alertnamedismiss" class="close">×</a>
                                    <strong>Field cannot be empty</strong>
                                  </div>
                            </td>
                            
                    <td>
                            Your Message:
                             <input id = "sizeOfBox" type="text" name="message"> <br>

                    </td>
                    </tr>
                    
                    </table>
                  <input type="submit" value="Submit" >
                </form>
              </div>
            </div>
          </div>
</body>