<!doctype html>
<html lang="en">
        <head>
                <meta charset="utf-8">
                <meta name="description" content="">
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <title>Starting from Scratch</title>
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
                <link rel="stylesheet" href="mystyle.css">
            </head>
                    <nav class="ForNavigation">
                    <div class= navBar>
                        <h1>Priyanka Khanal</h1>
    
                       <h3>
                        <a href ="/additional"> Involvement in School </a>  |
                        <a href="/contact"> Contact </a> | 
                        <a href = "/tic-tac-toe" > Quiz </a>
                        </h3>
                    </div>